* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh; /* или auto */
    width: 100vw;
    overflow-x: hidden; /* чтобы не было горизонтального скролла */
    overflow-y: auto;
}

.left {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

#longitudinal_component_label, #lateral_component_label, #wind_additive_label {
    margin-top: 5px;
    opacity: 0.7;
    font-size: 14px;
}

.field {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.field.speed-unit {
    flex: 0.5;
}

.field-runway-condition {
    flex: 1.5;
}

.button-field {
    flex: 0.3;
}

.field label, div label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.field input[type="text"],
.field select, #toggle_button, #theme_button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    appearance: none; /* Убираем стандартный стиль браузера для select */
    transition: border-color 0.3s;
}

.field input[type="text"].selected,
.field select.selected,
.input-with-buttons input[type="text"].selected{
    box-shadow: inset 0 0 0 3px #007BFF; /* Внутренняя тень, имитирующая границу */
    outline: none; /* Убираем стандартный outline */
}


/* Стилизация стрелки в select */
.field select {
    position: relative;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23666"><path d="M8 10L4 6h8z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
    cursor: pointer;
}

.input-with-buttons {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; /* Убедитесь, что контейнер имеет высоту */
}

.input-with-buttons input[type="text"] {
    flex: 0 0 55%; /* Поле ввода занимает 60% ширины */
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: border-color 0.3s;
}

.input-with-buttons .minus,
.input-with-buttons .plus {
    flex: 0 0 20%; /* Каждая кнопка занимает 20% ширины */
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc; /* Добавляем границу */
    border-radius: 5px; /* Скругляем углы */
    background-color: #f0f0f0; /* Фон как у полей ввода */
    padding: 15px; /* Отступы как у полей ввода */
    color: #333;
    height: 100%; /* Кнопки занимают всю высоту контейнера */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Включаем padding и border в размеры элемента */
    transition: border-color 0.3s, background-color 0.3s; /* Плавные переходы */
}

.input-with-buttons .minus {
    left: 5px; /* Располагаем минус слева */
    margin-right: 2px;
}

.input-with-buttons .plus {
    right: 5px; /* Располагаем плюс справа */
    margin-left: 2px;
}

/* Стилизация при нажатии */
.input-with-buttons .minus:active,
.input-with-buttons .plus:active {
    border-color: #0056b3;
    background-color: #d0d0d0;
}

.toggle-button:active, .theme-button:active {
    background-color: #bbb;
}

.hidden {
    display: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.key-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.key-row button {
    flex: 1;
    margin: 0 5px;
    padding: 20px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    user-select: none;
}

#coef_field, #runway_number {
    flex: 0.6;
}

#coef_field {
    padding-left: 5px;
}

.key-row button:active,
.key-row button.active {
    background-color: #bbb;
    transform: scale(0.98);
}

/* Кнопка "Вычислить" */
.calculate-button {
    margin: 0 5px 0 5px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    text-align: center;
}

.calculate-button:active {
    background-color: #1e7e34;
    transform: scale(0.98);
}

.wind-table-button {
    margin: 0 5px 0 5px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0077ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    text-align: center;
}

.wind-table-button:active {
    background-color: #004EEE;
    transform: scale(0.98);
}

.toggle-wrapper label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

/* Четвертая секция */
.image-section {
    flex: 1; /* Занимает оставшееся пространство */
    overflow: hidden; /* Скрывает лишнее */
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative; /* Для правильного позиционирования элементов внутри */
    flex: 1;
    overflow: hidden;
    touch-action: none; /* Отключаем стандартные жесты браузера */
}

.reset-button, .block-button {
    position: absolute;
    font-size: 22px;
    top: 10px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10; /* Убедимся, что кнопка сброса над изображением */
}

.block-button {
    top: 60px; /* Располагаем под кнопкой сброса */
}

.block-button:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.arrow-controls {
    position: absolute;
    top: 115px; /* Располагаем стрелки внизу, но внутри контейнера */
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; /* Поверх изображения */
    gap: 5px; /* Расстояние между стрелками */
}

.arrow-btn {
    width: 100px;
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.arrow-btn:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transform-origin: center;
    transform: scale(1) translate(0, 0);
    user-select: none;
    z-index: 1; /* Убедимся, что изображение под кнопками */
}

/* Разделительная черта */
.divider {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

/* Блок дополнительных кнопок */
.keyboard-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard-buttons .key-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.keyboard-buttons .key-row.last-row {
    margin-bottom: 0px;
}

.keyboard-buttons .key {
    flex: 1;
    margin: 0 5px;
    padding: 20px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    user-select: none;
}

.keyboard-buttons .key:active {
    background-color: #bbb;
    transform: scale(0.98);
}

/* Стили для уровней */
.field input[type="text"].level-0,
.field select.level-0 {
    background-color: #28a745; /* Зелёный */
    color: #ffffff; /* Белый текст */
}

.field input[type="text"].level-1,
.field select.level-1 {
    background-color: #ffc107; /* Жёлтый */
    color: #000000; /* Чёрный текст */
}

.field input[type="text"].level-2,
.field select.level-2 {
    background-color: #fd7e14; /* Оранжевый */
    color: #ffffff; /* Белый текст */
}

.field input[type="text"].level-3,
.field select.level-3 {
    background-color: #dc3545; /* Красный */
    color: #ffffff; /* Белый текст */
}

/* Help overlay styles */
.help-overlay {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    z-index: 1000; /* Высокий z-index для отображения поверх всего */
    display: flex; /* Используем flex для центрирования */
    justify-content: center;
    align-items: center;
}

.help-overlay img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.close-help {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    background: none;
    border: none;
    color: black;
    filter: drop-shadow(0 0 20px white);
    cursor: pointer;
    z-index: 1001;
}

.close-help i {
    pointer-events: none;
}

/* Стили для текста с предупреждением */
.disclaimer {
    font-size: 16px;
    text-align: left;
    opacity: 0.4;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}


.image-container img[data-condition-visible="true"] {
    content: url("pics/action_table.png");
}

.image-container img[data-condition-visible="false"] {
    content: url("pics/coeff_table.png");
}

.help-overlay img {
    content: url("pics/info.png");
}

/* Loading Screen Styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Белый фон с прозрачностью */
    z-index: 2000; /* Поверх всего контента */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading-screen .loading-content {
    text-align: center;
}

#loading-screen .loading-content i {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

#loading-screen .loading-content p {
    font-size: 24px;
    color: #333;
}

/* Modal Styles */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Чёрный фон с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 15%; /* Настройте по необходимости */
    padding: 20px 20px 10px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    text-align: left; /* Центрируем текст */
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px; /* Увеличиваем размер заголовка */
}

.modal-content p {
    font-size: 22px; /* Увеличиваем размер текста */
    line-height: 40px;
}

.modal-content code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    font-family: monospace;
    border-radius: 4px;
}

.modal-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.modal-button.update-button {
    background-color: #007BFF;
    color: white;
}

.modal-button.update-button:active {
    background-color: #0056b3;
}

.modal-button:active {
    background-color: #bbb;
    transform: scale(0.98);
}

/* Стили для предупреждения об отсутствии интернета */
.offline-warning {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(220, 53, 69, 0.9);
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 3000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

.offline-warning.hide {
    opacity: 0;
}

#toggle_button, #friction_coeff, #wind_gust, #wind_speed, #wind_direction, #runway, #theme_button {
    cursor: pointer;
}


/* Темная тема */
html[dark-theme] body {
    background-color: #222;
    color: #eee;
}

html[dark-theme] .field select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEE"><path d="M8 10L4 6h8z"/></svg>');
}

html[dark-theme] .field input[type="text"],
html[dark-theme] .field select {
    background-color: #333;
    border-color: #555;
    color: #eee;
}

html[dark-theme] #toggle_button,
html[dark-theme] .input-with-buttons .minus,
html[dark-theme] .input-with-buttons .plus,
html[dark-theme] #theme_button {
    background-color: #333;
    border-color: #555;
    color: #eee;
}

html[dark-theme] .input-with-buttons .minus,
html[dark-theme] .input-with-buttons .plus {
    color: #eee;
}

html[dark-theme] .toggle-button,
html[dark-theme] .theme-button {
    background-color: #444;
    color: #eee;
}

html[dark-theme] .toggle-button:active,
html[dark-theme] .theme-button:active {
    background-color: #666;
}

html[dark-theme] .key-row button {
    background-color: #444;
    border-color: #666;
    color: #eee;
}

html[dark-theme] .key-row button:active,
html[dark-theme] .key-row button.active {
    background-color: #666;
}

html[dark-theme] .calculate-button {
    background-color: #28a745;
    color: #fff;
}

html[dark-theme] .calculate-button:active {
    background-color: #1e7e34;
}

html[dark-theme] .wind-table-button {
    background-color: #1E6FB7;
    color: #fff;
}

html[dark-theme] .wind-table-button:active {
    background-color: #1446A6;
}

html[dark-theme] .image-container img[data-condition-visible="true"] {
    content: url("pics/action_table_dark.png");
}

html[dark-theme] .image-container img[data-condition-visible="false"] {
    content: url("pics/coeff_table_dark.png");
}

html[dark-theme] .reset-button {
    background-color: rgba(255, 255, 255, 0.5); /* Светлый фон для видимости */
    color: black; /* Текст черного цвета */
}

html[dark-theme] .arrow-btn {
    background-color: rgba(255, 255, 255, 0.5); /* Светлый фон для стрелок */
    color: black; /* Текст черного цвета */
}

html[dark-theme] .arrow-btn:active {
    background-color: rgba(255, 255, 255, 0.9); /* При нажатии почти белый */
}

html[dark-theme] .block-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

html[dark-theme] .block-button:active {
    background-color: rgba(255, 255, 255, 0.9);
}

html[dark-theme] .keyboard-buttons .key {
    background-color: #444;
    border-color: #666;
    color: #eee;
}

html[dark-theme] .keyboard-buttons .key:active {
    background-color: #666;
}

html[dark-theme] .field input[type="text"].level-0,
html[dark-theme] .field select.level-0 {
    background-color: #218838; /* Темно-зелёный */
}

html[dark-theme] .field input[type="text"].level-1,
html[dark-theme] .field select.level-1 {
    background-color: #e0a800; /* Темно-жёлтый */
}

html[dark-theme] .field input[type="text"].level-2,
html[dark-theme] .field select.level-2 {
    background-color: #e8590c; /* Темно-оранжевый */
}

html[dark-theme] .field input[type="text"].level-3,
html[dark-theme] .field select.level-3 {
    background-color: #c82333; /* Тёмно-красный */
}

html[dark-theme] .help-overlay img {
    content: url("pics/info_dark.png");
}

html[dark-theme] .close-help {
    color: white;
    filter: drop-shadow(0 0 20px black);
}

html[dark-theme] .divider {
    border-bottom: 1px solid #666;
}

html[dark-theme] #loading-screen {
    background-color: rgba(0, 0, 0, 0.9); /* Чёрный фон с прозрачностью */
}

html[dark-theme] #loading-screen .loading-content i {
    color: #eee;
}

html[dark-theme] #loading-screen .loading-content p {
    color: #eee;
}

html[dark-theme] .modal-content {
    background-color: #333;
    color: #eee;
    border-color: #555;
}

html[dark-theme] .modal-content code {
    background-color: #444;
}

html[dark-theme] .modal-button {
    background-color: #444;
    color: white;
}

html[dark-theme] .modal-button:active {
    background-color: #666;
}

html[dark-theme] .modal-button.update-button {
    background-color: #0056b3;
    color: white;
}

html[dark-theme] .modal-button.update-button:active {
    background-color: #003d80;
}

html[dark-theme] .offline-warning {
    background-color: rgba(128, 29, 24, 0.9);
    color: #fff;
}

#calculate_button i {
    margin-right: 5px;
}

.calc-row {
    display: flex;
}

#calculate_button {
    flex: 4;
}

.wind-table-result.hidden {
    display: none;
}

.section.image-section.hidden {
    display: none !important;
}

.section.hidden {
    display: none !important;
}

/* Шапка: иконка + курс */
.wind-table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.plane-icon i {
    margin-bottom: 5px;
    rotate: -90deg;
}

.left-angles,
.plane-icon,
.right-angles {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wind-angle-item:active {
    background-color: #e0e0e0;
}

/* Темная тема, если используется */
html[dark-theme] .wind-table-result {
    background-color: #333;
    color: #eee;
    border: 1px solid #555;
}

html[dark-theme] .wind-angle-item {
    background-color: #444;
}

html[dark-theme] .wind-angle-item:active {
    background-color: #555;
}

.wind-table-result {
    display: flex; /* Располагаем элементы в строку */
    flex-direction: row; /* Направление по горизонтали */
    justify-content: space-between; /* Равномерно распределяем элементы */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 20px; /* Расстояние между колонками */
    padding: 20px;
    background-color: #f9f9f9; /* Цвет фона */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%; /* Ограничиваем ширину */
    overflow-x: auto; /* Включаем горизонтальную прокрутку, если необходимо */
}

/* Скрытие таблицы */
.wind-table-result.hidden {
    display: none;
}

/* Левая и правая колонки */
.left-angles,
.right-angles {
    display: flex; /* Делаем элементы в колонке вертикальными */
    flex-direction: column;
    gap: 10px; /* Расстояние между элементами в колонке */
}

/* Центр – иконка самолёта */
.plane-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4em; /* Размер иконки */
    color: #0077ff; /* Цвет иконки */
    gap: 50px;
}

/* Текст под иконкой */
.plane-heading {
    margin-top: 5px;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Углы ветра */
.wind-angle-item {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #ececec;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

/* Hover для углов */
.wind-angle-item:active {
    background-color: #dcdcdc;
}

.limit-buttons {
    display: flex; /* Располагаем кнопки в строку */
    justify-content: center; /* Центрируем */
    gap: 10px; /* Расстояние между кнопками */
    margin-bottom: 20px; /* Отступ снизу */
}

.limit-button {
    padding: 8px 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.limit-button.active {
    background-color: #0077ff;
    color: #fff;
    border-color: #0056b3;
}

.limit-button:active {
    background-color: #e0e0e0;
    border-color: #aaa;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px; /* Отступ снизу */
}

.mode-button {
    padding: 8px 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.mode-button.active {
    background-color: #28a745; /* Зелёный цвет для активного состояния */
    color: #fff;
    border-color: #1e7e34;
}

.mode-button:active {
    background-color: #e0e0e0;
    border-color: #aaa;
}

html[dark-theme] .limit-button {
    background-color: #444; /* Темный фон для кнопок */
    color: #eee; /* Светлый текст */
    border-color: #555; /* Темная рамка */
}

html[dark-theme] .limit-button.active {
    background-color: #1E6FB7; /* Синий для активной кнопки */
    color: #fff; /* Белый текст */
    border-color: #1446A6; /* Темно-синий для рамки */
}

html[dark-theme] .limit-button:active {
    background-color: #555; /* Чуть светлее для эффекта hover */
    border-color: #666;
}

html[dark-theme] .mode-button {
    background-color: #444; /* Темный фон */
    color: #eee; /* Светлый текст */
    border-color: #555; /* Темная рамка */
}

html[dark-theme] .mode-button.active {
    background-color: #218838; /* Зеленый для активной кнопки */
    color: #fff; /* Белый текст */
    border-color: #1e7e34; /* Темно-зеленый для рамки */
}

html[dark-theme] .mode-button:active {
    background-color: #555; /* Светлее для hover */
    border-color: #666;
}

html[dark-theme] .plane-icon .plane-icon-info, html[dark-theme] .plane-icon .plane-heading{
    color: #eee;
    opacity: 0.9;
}
